.start-timer {
  position: relative;
  height: 100vh;
  z-index: 10;

  .time {
    font-size: 15rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    &.active {
      font-size: 12rem;
      transition: all linear 0.3s;
    }
  }
}
