.tabs {
  .tab {
    display: flex;
    justify-content: center;
  }
  button {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      background: #d69358;
      color: white;
    }
    color: black;
    background-color: #fff;
    padding: 13px 18px;
    border-radius: 10px;
  }
}
