.start-game {
    position: relative;

    .time {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 10rem;

        &.active {
            font-size: 12rem;
            transition: all linear .3s;
        }
    }


}