.start-game {
  position: relative;

  .time {
    font-size: 12rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    &.active {
      font-size: 10rem;
      transition: all linear .5s;
    }
  }
}
