:root {
    --font-family: sans-serif;
    --primary-color: #2563eb;
    --border-radius: .5rem;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.time-settings {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.time-settings label {
    font-family: var(--font-family);
    font-size: 1.2rem;
}

.time-settings input {
    font-size: 1.2rem;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

.time-settings input:focus {
    outline: none;
}

.start-button {
    text-align: center;
}

.start-button button {
    font-size: 1.2rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    padding: 1rem 2rem;
    cursor: pointer;
}