.card {
  width: 100%;
  padding: 25px 0;
  background: #ffffff;
  border-radius: 10px;

  img {
    display: flex;
    margin: 0 auto;
  }

  h3 {
    margin-top: 10px;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    color: black;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
  }
}
