.game {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    box-sizing: border-box;

    .header {
        .num {
            flex-direction: column-reverse;
            display: flex;

            .tab-content {
                margin: 3px 0 10px 0;
            }

            .tab-pane {
                &.active {
                    display: flex !important;
                    flex-wrap: wrap !important;
                    height: 400px;
                    overflow-y: scroll;

                    &::-webkit-scrollbar {
                        width: 2px;
                    }

                    /* Track */
                    &::-webkit-scrollbar-track {
                        box-shadow: inset 0 0 5px grey;
                        border-radius: 10px;
                    }

                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: greenyellow;
                        border-radius: 10px;
                    }


                }
            }

            .card-number {
                text-align: center;
                width: calc(100% / 20);
                height: 25px;

                &.active {
                    background-color: red;


                    p {
                        color: white;
                    }
                }

                p {
                    padding: 0;
                    font-size: 14px;
                    margin: 0;
                }
            }
        }
    }

    .numbers {
        align-items: center;

        h1 {
            font-size: 40px;
            text-align: center;
        }
    }

    .navigation {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .prev {
        width: 90px;
        height: 90px;
    }

    .next {
        width: 90px;
        height: 90px;
        transform: rotate(180deg);
    }
}


button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}