.cards-game-page {
  // height: 100vh;
  .cards-start-game {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
  }
  .cards {
    padding: 40px 0;
    display: flex;
    overflow: scroll;
    width: 100%;
    .card {
      width: 100%;
      &.active {
        margin-top: -40px;
      }
      img {
        width: 60px;
      }
    }
  }

  .show-card {
    display: flex;
    width: 100%;
    padding: 10px 0;
    overflow: scroll;

    img {
      width: 100px;
      &:last-child {
        margin: 0;
      }
    }
  }

  .numbers-of {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    h1 {
      &:first-child {
        color: red;
        font-weight: bold;
      }

      margin-right: 10px;
      text-align: center;
    }
  }

  .btn-navigation {
    display: flex;
    justify-content: center;

    button {
      border: none;
      outline: none;
      background-color: transparent;

      &:first-child {
        transform: rotate(180deg);
      }
    }
  }
  .empty {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    .empty-card {
      padding: 20px;
      border-radius: 10px;
    }
    img {
      margin: 0 auto;
      display: flex;
    }
  }

  .empty-cards {
    .empty {
      display: flex;
      margin-bottom: 100px;
      justify-content: space-between;
      width: 100%;
      overflow: scroll;
    }

    .cards {
      display: flex;
    }

    .empty-card {
      &.active {
        img {
          box-shadow: 0px 0px 10px 1px #007, 1px 1px #007 inset;
          border-radius: 12px;
          cursor: pointer;
        }
      }

      img {
        width: 100px;
      }
    }
  }

  .navigation-cards {
    padding: 20px;

    select {
      width: 100%;
      padding: 10px;
      border: 2px solid blue;
      border-radius: 8px;
      outline: navy;
    }
  }
}
