.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
  align-items: center;
}

.game {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  box-sizing: border-box;

  .header {
    .num {
      display: flex;

      .sort-num {
        margin-right: 20px;

        &.active {
          span {
            padding: 12px 0;
          }
        }

        span {
          display: block;
          font-size: 19px;
          padding: 9px 0;
        }
      }

      .tab-content {
        margin: 3px 0 10px 0;
      }
      .tab-pane {
        &.active {
          display: flex !important;
          flex-wrap: wrap !important;
          height: 400px;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            width: 2px;
          }
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
          }
          s &::-webkit-scrollbar-thumb {
            background: greenyellow;
            border-radius: 10px;
          }
        }
      }

      .card-number {
        text-align: center;
        max-width: 50px;
        padding: 10px 0;

        &.active {
          background-color: red;

          p {
            color: white;
          }
        }

        p {
          font-size: 14px;
          margin: 0;
        }
      }
    }
  }

  .numbers {
    margin-top: 30px;
    align-items: center;
    display: flex;

    h1 {
      font-size: 40px;
      text-align: center;
    }
  }

  .navigation {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .prev {
    width: 90px;
    height: 90px;
  }

  .next {
    width: 90px;
    height: 90px;
    transform: rotate(180deg);
  }
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

.set-num-inp {
  width: 100%;
  padding: 10px 5px;
  box-sizing: border-box;
}
.sort-num {
  margin-right: 20px;

  h2 {
    margin: 0;
    padding: 9px 0;
  }
}
