:root {
  --primary-color: #d69358;
  --border-radius: 10px;
}

.words {

  &-section {
    display: flex;
    flex-direction: column;

    &__correct-answers {
      text-align: center;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      font-weight: 600;
    }

    &__header {
      margin-top: 22px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-timer {
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 25px;
      }

      &-finish {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        color: var(--primary-color);
      }
    }

    &__cards {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      gap: 8px;
      margin-top: 50px;


      article {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;

        .number {
          font-size: 24px;
          font-weight: 500;
          display: flex;
          width: 12%;
          color: #000;
        }

        .word {
          font-size: 24px;
          font-weight: 500;
          color: #000;
          width: 100%;
          margin-left: 2rem;
        }
      }

      input {
        padding: .5rem 1rem;
        width: 100%;
        height: 32px;
        border: 1px solid #dedede;
        border-radius: var(--border-radius);
        font-size: 18px;
        background-color: #ffffff;
        color: #000;

        &:focus {
          outline: none;
        }
      }

      .form-preview {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateX(-50%) translateY(-50%);
        cursor: pointer;
      }
    }

  }
}