.date-game {
  display: flex;
  overflow-y: scroll;

  .card {
    background-color: #fff;
    padding: 10px;

    &.active {
      background-color: #b3ff66;
      font-weight: bold;
    }
  }

  .events {
    width: 100%;
    margin-bottom: 100px;

    span {
      font-size: 14px;
    }
  }

  .dates {
    margin-bottom: 100px;

    .card {
      padding-right: 40px;
    }
  }
}

.navigation {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;

  .bottom {
    color: white;
    width: 100px;
    outline: none;
    background-color: transparent;
    margin: 10px 10px 10px 0;
    border: none;

    &:first-child {
      transform: rotate(270deg);
    }

    transform: rotate(90deg);

    img {
      width: 100%;
    }
  }
}

.inputs {
  display: flex;

  input {
    width: 60px;
    display: block;
  }
}

.cards-game-page {
  .cards {
    display: flex;
    width: 100%;
    height: 100% !important;

    .card {
      &.active {
        margin-top: -40px;
      }

      img {
        width: 100px;
      }
    }
  }

  .show-card {
    display: flex;
    justify-content: center;

    img {
      width: 100px;

      &:last-child {
        margin: 0;
      }
    }
  }

  .numbers-of {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    h1 {
      &:first-child {
        color: red;
        font-weight: bold;
      }

      margin-right: 10px;
      text-align: center;
    }
  }

  .btn-navigation {
    display: flex;
    justify-content: center;

    button {
      border: none;
      outline: none;
      background-color: transparent;

      &:first-child {
        transform: rotate(180deg);
      }
    }
  }

  .empty-cards {
    .empty {
      display: flex;
      margin-bottom: 100px;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .cards {
      display: flex;
    }

    .empty-card {
      &.active {
        img {
          box-shadow: 0px 0px 10px 1px #007, 1px 1px #007 inset;
          border-radius: 12px;
          cursor: pointer;
        }
      }

      img {
        width: 100px;
      }
    }
  }

  .settings-cards {
    padding: 20px;

    select {
      width: 100%;
      padding: 10px;
      border: 2px solid blue;
      border-radius: 8px;
      outline: navy;
    }
  }
}

.numbers-game-page {
  .start-game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 3px;
    margin-right: 20px;

    input {
      width: 100%;
      border-radius: 0;
      border: 1px solid #ced4da;
      text-align: center;
      padding: 4px;

      &:focus-visible {
        box-shadow: none;
        outline: none;
      }
    }

    .show {
      color: black !important;
    }

    p {
      border: 1px solid #ced4da;
      margin: 0;
      width: 5px;
      font-size: 6px;
      text-align: center;
      height: 5px;
      padding: 4px;
    }
  }

  .cards {
    display: grid;
    width: 100%;

    .card {
      margin-bottom: 10px;

      &.active {
        border-right: 1px solid red;
      }
    }
  }

  .tabs {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    button {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      background-color: white;
      border: 1px solid #ced4da;
      color: black;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: white;
        background-color: blue;
      }
    }
  }

  .num-or {
    display: block;
    padding: 5px 0;
  }

  .result-card {
    .num-or {
      display: block;
      padding: 5px 0;

      &.active {
        padding: 16px 0;
        margin-bottom: -1px;
      }
    }

    .result-num-or {
      .num-or {
        padding: 8px 0;

        &.active {
          padding: 21px 0;
          margin-bottom: -1px;
        }
      }
    }
  }
}