.numbers-game-page {
  .start-game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 3px;
    margin-right: 20px;
    position: relative;

    input {
      width: 100%;
      border-radius: 0;
      border: 1px solid #ced4da;
      text-align: center;
      padding: 3px;
      &:focus-visible {
        box-shadow: none;
        outline: none;
      }
    }
    .time {
      font-size: 12rem;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);

      &.active {
        font-size: 10rem;
        transition: all linear 0.5s;
      }
    }

    .show {
      color: black !important;
    }

    p {
      border: 1px solid #ced4da;
      margin: 0;
      width: 5px;
      font-size: 6px;
      text-align: center;
      height: 5px;
      padding: 4px;
    }
  }

  .cards {
    display: grid;
    width: 100%;

    .card {
      margin-bottom: 10px;

      &.active {
        border-right: 1px solid red;
      }
    }
  }

  .tabs {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    button {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      background-color: white;
      border: 1px solid #ced4da;
      color: black;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: white;
        background-color: blue;
      }
    }
  }

  .num-or {
    display: block;
    padding: 5px 0;
  }

  .result-card {
    .num-or {
      display: block;
      padding: 5px 0;

      &.active {
        padding: 16px 0;
        margin-bottom: -1px;
      }
    }

    .result-num-or {
      .num-or {
        padding: 8px 0;

        &.active {
          padding: 21px 0;
          margin-bottom: -1px;
        }
      }
    }
  }
}
