.numbers {
  .cards {
    width: 100%;
    grid-template-columns: repeat(20, 1fr);
    display: grid;
    margin-left: 10px;
    .number-card {
      &.active {
        border-right: 1px solid #ffbf87;
      }
      .card-number {
        p {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 18px;
          text-align: center;
          color: #000000;
        }
        &.active {
          background: #ffbf87;
        }
      }
    }
  }
  .sort-numbers {
    width: 6%;
    margin: 0 5px;
  }

  display: flex;
  justify-content: space-between;
}

.game-header {
  margin: 20px 0;
  span {
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
  }
  a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #d69358;
  }
}

.inputs-groups {
  grid-template-columns: repeat(20, 1fr);
  display: grid;
  margin-left: 10px;
  input {
    background: #ffffff;
    border: 1px solid #ededed;
    border-radius: 2px;
    width: 16px;
    height: 21px;
  }
}
