.numbers {
  font-family: "Courier";
  .cards {
    width: 100%;
    grid-template-columns: repeat(20, 1fr);
    display: grid;
    .number-card {
      &.active {
        border-right: 1px solid #ffbf87;
      }
      .card-number {
        p {
          font-family: "Courier";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 18px;
          text-align: center;

          color: #000000;
        }
        &.active {
          background: #ffbf87;
        }
      }
    }
  }
  .sort-numbers {
    width: 6%;
    margin-right: 5px;
  }

  display: flex;
  justify-content: space-between;
}

.game-header {
  margin: 20px 0;

  span {
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    color: #000000;
  }
  a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #d69358;
  }
}
.game-header-inner {
  margin-bottom: 45px;
}
.start-game-group {
  display: flex;
  margin-bottom: 45px;
}
.start-game-page {
  .start-game-page-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 30px 0;
  }
  .game-screen {
    display: flex;
    width: 100%;
  }
}
