.numbers {
  font-family: "Courier";
  .cards {
    width: 100%;
    grid-template-columns: repeat(20, 1fr);
    display: grid;
    .number-card {
      &.active {
        border-right: 1px solid #ffbf87;
      }
      .card-number {
        p {
          font-family: "Courier";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 18px;
          text-align: center;

          color: #000000;
        }
        &.active {
          background: #ffbf87;
        }
      }
    }
  }
  .sort-numbers {
    width: 6%;
    margin-right: 5px;
  }

  display: flex;
  justify-content: space-between;
}


.game-header-inner {
  margin-bottom: 45px;
}
.start-game-group {
  display: flex;
  margin-bottom: 45px;
}
.start-game-page {
  .game-screen {
    display: flex;
    width: 100%;
  }
}
